**/target
tmp
**/\.~lock*

### Gradle files that are built at runtime
gradle.properties
**/.gradle
**/gradle/license-plugin/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Test resources created during testing ###
**/src/test/resources/created
# various modeling outputs
**/src/test/resources/models/*/output/*.ds[skdc]
**/src/test/resources/models/*/output/*.csv
**/src/test/resources/models/*/output/*.out
# ILP folder
**/src/test/resources/models/*/run/=ILP=
# Progress, parameter, and log files
**/src/test/resources/models/*/*.prgss
**/src/test/resources/models/*/run/*.par
**/src/test/resources/models/*/run/*.log
# DSS cache files everywhere
**/src/test/resources/**/*.ds[kcd]

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
