<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="STANDARD_PATTERN">%d{ISO8601} %-5level [%t] [%c{1}] - %msg%n</Property>
        <Property name="USER_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</Property>
        <Property name="WRIMS_LOG_DIR">${sys:user.home}/.wrims/logs</Property>
        <Property name="WRIMS_FALLBACK_LOG_DIR">${sys:user.home}/.wrims/logs/runs</Property>

        <!-- solver-only additions -->
        <Property name="DETAILED_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>

        <!--
          NOTE:
          Use a common solver log directory to support multiple solver implementations.
          Individual solver logs should be distinguished by filename prefixes
          (e.g., cbc-*, gurobi-*), so additional solvers can be added
          without changing the directory structure.
        -->
        <Property name="SOLVER_LOG_DIR">${WRIMS_LOG_DIR}/solver-logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${USER_PATTERN}"/>
        </Console>

        <Async name="CONSOLE-ASYNC">
            <AppenderRef ref="CONSOLE"/>
        </Async>

        <!-- File Appender - Project Directory (falls back to WRIMS_FALLBACK_LOG_DIR when sys:project.dir is not set) -->
        <File name="FILE" fileName="${sys:project.dir:-${WRIMS_FALLBACK_LOG_DIR}}/${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
        </File>

        <Async name="FILE-ASYNC">
            <AppenderRef ref="FILE"/>
        </Async>

        <!-- File Appender - WRIMS Directory -->
        <RollingFile name="FILE-WRIMS"
                     fileName="${WRIMS_LOG_DIR}/wrims-engine.log"
                     filePattern="${WRIMS_LOG_DIR}/wrims-engine-%d{yyyy-MM-dd_HH-mm-ss}.log"
                     append="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <DefaultRolloverStrategy/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>

        <Async name="FILE-WRIMS-ASYNC">
            <AppenderRef ref="FILE-WRIMS"/>
        </Async>

        <!-- CBC Solver Main Log (INFO and above) -->
        <RollingFile name="CBC-MAIN"
                     fileName="${SOLVER_LOG_DIR}/cbc-main.log"
                     filePattern="${SOLVER_LOG_DIR}/cbc-main-%d{yyyy-MM-dd_HH-mm-ss}.log"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

        <Async name="ASYNC-CBC-MAIN">
            <AppenderRef ref="CBC-MAIN"/>
        </Async>

        <!-- CBC Solver Detailed Log (DEBUG/TRACE level) -->
        <RollingFile name="CBC-DETAIL"
                     fileName="${SOLVER_LOG_DIR}/cbc-detail.log"
                     filePattern="${SOLVER_LOG_DIR}/cbc-detail-%d{yyyy-MM-dd_HH-mm-ss}.log"
                     createOnDemand="true">
            <PatternLayout pattern="${DETAILED_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <Async name="ASYNC-CBC-DETAIL">
            <AppenderRef ref="CBC-DETAIL"/>
        </Async>

        <!-- CBC Solver Performance Log -->
        <RollingFile name="CBC-PERF"
                     fileName="${SOLVER_LOG_DIR}/cbc-perf.log"
                     filePattern="${SOLVER_LOG_DIR}/cbc-perf-%d{yyyy-MM-dd_HH-mm-ss}.log"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

        <Async name="ASYNC-CBC-PERF">
            <AppenderRef ref="CBC-PERF"/>
        </Async>


    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="FILE-WRIMS-ASYNC"/>
        </Root>

        <Logger name="gov.ca.water.wrims.engine.core" level="INFO" additivity="true">
            <AppenderRef ref="CONSOLE-ASYNC"/>
            <AppenderRef ref="FILE-ASYNC"/>
        </Logger>

        <!-- CBC Solver main logger: route to CBC files -->
        <Logger name="gov.ca.water.wrims.engine.core.solver.CbcSolver" level="DEBUG" additivity="false">
            <AppenderRef ref="ASYNC-CBC-MAIN"/>
            <AppenderRef ref="ASYNC-CBC-DETAIL"/>
        </Logger>

        <!-- PerfTimer: performance file -->
        <Logger name="gov.ca.water.wrims.engine.core.solver.CbcSolver$PerfTimer" level="DEBUG" additivity="false">
            <AppenderRef ref="ASYNC-CBC-PERF"/>
        </Logger>

    </Loggers>
</Configuration>
