<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">

    <Properties>
        <Property name="STANDARD_PATTERN">%d{ISO8601} %-5level [%t] [%c{1}] - %msg%n</Property>
        <Property name="USER_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level [%c{1}] - %msg%n</Property>

        <Property name="WRIMS_LOG_DIR">${sys:user.home}/.wrims/logs</Property>
        <Property name="WRIMS_FALLBACK_LOG_DIR">${sys:user.home}/.wrims/logs/runs</Property>

        <Property name="DETAILED_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} [%M:%L] - %msg%n</Property>
        <Property name="SOLVER_LOG_DIR">${WRIMS_LOG_DIR}/solver-logs</Property>
    </Properties>

    <Appenders>
        <!-- ===================== -->
        <!-- Console               -->
        <!-- ===================== -->
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${USER_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <Async name="CONSOLE-ASYNC">
            <AppenderRef ref="CONSOLE"/>
        </Async>

        <!-- ===================== -->
        <!-- Run log  -->
        <!-- ===================== -->
        <File name="FILE" fileName="${sys:project.dir:-${WRIMS_FALLBACK_LOG_DIR}}/${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
        </File>
        <Async name="FILE-ASYNC">
            <AppenderRef ref="FILE"/>
        </Async>

        <!-- ===================== -->
        <!-- Engine rolling file    -->
        <!-- ===================== -->
        <RollingFile name="FILE-WRIMS"
                     fileName="${WRIMS_LOG_DIR}/wrims-engine.log"
                     filePattern="${WRIMS_LOG_DIR}/wrims-engine-%d{yyyy-MM-dd}.log"
                     append="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <Async name="FILE-WRIMS-ASYNC">
            <AppenderRef ref="FILE-WRIMS"/>
        </Async>

        <!-- ===================================================== -->
        <!-- CBC solver files                     -->
        <!-- ===================================================== -->
        <RollingFile name="CBC-MAIN"
                     fileName="${SOLVER_LOG_DIR}/cbc-main.log"
                     filePattern="${SOLVER_LOG_DIR}/cbc-main-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="CBC-DETAIL"
                     fileName="${SOLVER_LOG_DIR}/cbc-detail.log"
                     filePattern="${SOLVER_LOG_DIR}/cbc-detail-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${DETAILED_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
            <Filters>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="CBC-PERF"
                     fileName="${SOLVER_LOG_DIR}/cbc-perf.log"
                     filePattern="${SOLVER_LOG_DIR}/cbc-perf-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="CBC-ERROR"
                     fileName="${SOLVER_LOG_DIR}/cbc-error.log"
                     filePattern="${SOLVER_LOG_DIR}/cbc-error-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="90"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <Async name="ASYNC-CBC-MAIN"><AppenderRef ref="CBC-MAIN"/></Async>
        <Async name="ASYNC-CBC-DETAIL"><AppenderRef ref="CBC-DETAIL"/></Async>
        <Async name="ASYNC-CBC-PERF"><AppenderRef ref="CBC-PERF"/></Async>
        <Async name="ASYNC-CBC-ERROR"><AppenderRef ref="CBC-ERROR"/></Async>

        <!-- ===================================================== -->
        <!-- XA solver files                                        -->
        <!-- ===================================================== -->
        <RollingFile name="XA-MAIN"
                     fileName="${SOLVER_LOG_DIR}/xa-main.log"
                     filePattern="${SOLVER_LOG_DIR}/xa-main-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="XA-DETAIL"
                     fileName="${SOLVER_LOG_DIR}/xa-detail.log"
                     filePattern="${SOLVER_LOG_DIR}/xa-detail-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${DETAILED_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>

        <RollingFile name="XA-PERF"
                     fileName="${SOLVER_LOG_DIR}/xa-perf.log"
                     filePattern="${SOLVER_LOG_DIR}/xa-perf-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="XA-ERROR"
                     fileName="${SOLVER_LOG_DIR}/xa-error.log"
                     filePattern="${SOLVER_LOG_DIR}/xa-error-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="${STANDARD_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="90"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <Async name="ASYNC-XA-MAIN"><AppenderRef ref="XA-MAIN"/></Async>
        <Async name="ASYNC-XA-DETAIL"><AppenderRef ref="XA-DETAIL"/></Async>
        <Async name="ASYNC-XA-PERF"><AppenderRef ref="XA-PERF"/></Async>
        <Async name="ASYNC-XA-ERROR"><AppenderRef ref="XA-ERROR"/></Async>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="FILE-WRIMS-ASYNC"/>
            <AppenderRef ref="CONSOLE-ASYNC"/>
        </Root>

        <Logger name="gov.ca.water.wrims.engine.core" level="INFO" additivity="true">
            <AppenderRef ref="FILE-ASYNC"/>
        </Logger>

        <!-- ========================================================= -->
        <!-- CBC                                                       -->
        <!-- ========================================================= -->
        <Logger name="gov.ca.water.wrims.engine.core.solver.cbc" level="TRACE" additivity="false">
            <AppenderRef ref="ASYNC-CBC-MAIN"/>
            <AppenderRef ref="ASYNC-CBC-DETAIL"/>
            <AppenderRef ref="ASYNC-CBC-PERF"/>
            <AppenderRef ref="ASYNC-CBC-ERROR"/>
        </Logger>

        <Logger name="gov.ca.water.wrims.engine.core.solver.CbcSolver" level="TRACE" additivity="false">
            <AppenderRef ref="ASYNC-CBC-MAIN"/>
            <AppenderRef ref="ASYNC-CBC-DETAIL"/>
            <AppenderRef ref="ASYNC-CBC-PERF"/>
            <AppenderRef ref="ASYNC-CBC-ERROR"/>
        </Logger>

        <!-- ========================================================= -->
        <!-- XA                                                        -->
        <!-- ========================================================= -->

        <Logger name="gov.ca.water.wrims.engine.core.solver.xa.main" level="INFO" additivity="false">
            <AppenderRef ref="ASYNC-XA-MAIN"/>
            <AppenderRef ref="ASYNC-XA-ERROR"/>
        </Logger>

        <Logger name="gov.ca.water.wrims.engine.core.solver.xa.perf" level="DEBUG" additivity="false">
            <AppenderRef ref="ASYNC-XA-PERF"/>
        </Logger>

        <Logger name="gov.ca.water.wrims.engine.core.solver.xa.detail" level="DEBUG" additivity="false">
            <AppenderRef ref="ASYNC-XA-DETAIL"/>
        </Logger>

        <Logger name="gov.ca.water.wrims.engine.core.solver.xa.error" level="ERROR" additivity="false">
            <AppenderRef ref="ASYNC-XA-ERROR"/>
        </Logger>

        <!-- ========================================================= -->
        <!-- XA (compatibility fallback)                                -->
        <!-- ========================================================= -->
        <Logger name="gov.ca.water.wrims.engine.core.solver.xa" level="INFO" additivity="false">
            <AppenderRef ref="ASYNC-XA-MAIN"/>
            <AppenderRef ref="ASYNC-XA-ERROR"/>
        </Logger>

        <Logger name="gov.ca.water.wrims.engine.core.solver.XASolver" level="INFO" additivity="false">
            <AppenderRef ref="ASYNC-XA-MAIN"/>
            <AppenderRef ref="ASYNC-XA-ERROR"/>
        </Logger>

    </Loggers>
</Configuration>
