    MainFile                run\main.wresl
    Solver                  CBC
    DvarFile                output\dv.csv
    SvarFile                input\sv.dss
    GroundwaterDir          run\groundwater\data\
    SvarAPart               CALSIM
    SvarFPart               L2020A
    InitFile                input\init.dss
    InitFPart               L2020A
    TimeStep                1MON
    StartYear               2000
    StartMonth              1
    StartDay                31
    StopYear                2000
    StopMonth               12
    StopDay                 31
    IlpLog                  No
    IlpLogFormat            None
    IlpLogVarValue          No
    IlpLogAllCycles         No
    WreslPlus               yes
    AllowSvTsInit           yes
    AllRestartFiles         No
    NumberRestartFiles      12
    DatabaseURL             none
    SQLGroup                calsim
    OVOption                1
    OVFile                  output\variables.fv
    OutputCycleDatatoDss    no
    OutputAllCycleData      no
    SelectedCycleOutput     ''
    ShowRunTimeMessage      no
    PrintGWFuncCalls        no
    cbcTolerancePrimal        1e-9
    cbcTolerancePrimalRelax   1e-7
    cbcToleranceWarmPrimal    1e-9
    cbcToleranceInteger       1e-9
    cbcToleranceIntegerCheck  1e-8
    cbcToleranceZero          1e-11
    cbcHintRelaxPenalty       9000
    cbcHintTimeMax            100
